@charset "utf-8";
@function spx($px){
@return $px+px
}
.sprite_index_part2 {
background-image: url(http://test.trunk.abc.com/assets/app/vue/finance/v1/img/sprite_index_part2.png);
background-repeat: no-repeat;
background-size:spx(136) auto;
}
.sprite_index_part2-b1 {
@extend .sprite_index_part2;
width: spx(28);
height: spx(28);
background-position: spx(-108) spx(-52);
}
.sprite_index_part2-b2 {
@extend .sprite_index_part2;
width: spx(88);
height: spx(30);
background-position: spx(0) spx(-52);
}
.sprite_index_part2-b3 {
@extend .sprite_index_part2;
width: spx(64);
height: spx(30);
background-position: spx(0) spx(-102);
}
.sprite_index_part2-b4 {
@extend .sprite_index_part2;
width: spx(136);
height: spx(32);
background-position: spx(0) spx(0);
}