@charset "utf-8";
@function spx($px){
@return $px+px
}
.sprite_index_part1 {
background-image: url(http://test.trunk.abc.com/assets/app/vue/finance/v1/img/sprite_index_part1.png);
background-repeat: no-repeat;
background-size:spx(82) auto;
}
.sprite_index_part1-a1 {
@extend .sprite_index_part1;
width: spx(20);
height: spx(20);
background-position: spx(-62) spx(0);
}
.sprite_index_part1-a2 {
@extend .sprite_index_part1;
width: spx(42);
height: spx(20);
background-position: spx(0) spx(0);
}