@charset "utf-8";
/* res.leju.com/resources/rem.js */
@function srem($px){
@return $px*(1/50)*1rem
}
.sprite_index_part2 {
background-image: url("http://test.trunk.abc.com/assets/app/vue/finance/v1/img/sprite_index_part2.png");
background-repeat: no-repeat;
background-size:srem(136) auto;
}
.sprite_index_part2-b1 {
@extend .sprite_index_part2;
width: srem(36);
height: srem(36);
background-position: srem(-104) srem(-48);
}
.sprite_index_part2-b2 {
@extend .sprite_index_part2;
width: srem(96);
height: srem(38);
background-position: srem(4) srem(-48);
}
.sprite_index_part2-b3 {
@extend .sprite_index_part2;
width: srem(72);
height: srem(38);
background-position: srem(4) srem(-98);
}
.sprite_index_part2-b4 {
@extend .sprite_index_part2;
width: srem(144);
height: srem(40);
background-position: srem(4) srem(4);
}