@charset "utf-8";
/* res.leju.com/resources/rem.js */
@function srem($px){
@return $px*(1/50)*1rem
}
.sprite_index_part1 {
background-image: url("http://test.trunk.abc.com/assets/app/vue/finance/v1/img/sprite_index_part1.png");
background-repeat: no-repeat;
background-size:srem(82) auto;
}
.sprite_index_part1-a1 {
@extend .sprite_index_part1;
width: srem(28);
height: srem(28);
background-position: srem(-58) srem(4);
}
.sprite_index_part1-a2 {
@extend .sprite_index_part1;
width: srem(50);
height: srem(28);
background-position: srem(4) srem(4);
}