// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$a1-name: 'a1';
$a1-x: 62px;
$a1-y: 0px;
$a1-offset-x: -62px;
$a1-offset-y: 0px;
$a1-width: 20px;
$a1-height: 20px;
$a1-total-width: 82px;
$a1-total-height: 20px;
$a1-image: '/Users/yan/Documents/github/vue-multi-framework/trunk/assets/app/vue/finance/v1/img/sprite_index_part1.png';
$a1: (62px, 0px, -62px, 0px, 20px, 20px, 82px, 20px, '/Users/yan/Documents/github/vue-multi-framework/trunk/assets/app/vue/finance/v1/img/sprite_index_part1.png', 'a1', );
$a2-name: 'a2';
$a2-x: 0px;
$a2-y: 0px;
$a2-offset-x: 0px;
$a2-offset-y: 0px;
$a2-width: 42px;
$a2-height: 20px;
$a2-total-width: 82px;
$a2-total-height: 20px;
$a2-image: '/Users/yan/Documents/github/vue-multi-framework/trunk/assets/app/vue/finance/v1/img/sprite_index_part1.png';
$a2: (0px, 0px, 0px, 0px, 42px, 20px, 82px, 20px, '/Users/yan/Documents/github/vue-multi-framework/trunk/assets/app/vue/finance/v1/img/sprite_index_part1.png', 'a2', );
$spritesheet-width: 82px;
$spritesheet-height: 20px;
$spritesheet-image: '/Users/yan/Documents/github/vue-multi-framework/trunk/assets/app/vue/finance/v1/img/sprite_index_part1.png';
$spritesheet-sprites: ($a1, $a2, );
$spritesheet: (82px, 20px, '/Users/yan/Documents/github/vue-multi-framework/trunk/assets/app/vue/finance/v1/img/sprite_index_part1.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
