h1{
  color:green;
}
.bg{
  width:rem(750);
  height:rem(750);
  background: url(~pages/index/assets/images/a.jpg) repeat;
  background-size:rem(300);
}

.xpic{
  width:rem(300);
  height:rem(300);
  background: url(./images/x.png) repeat;
  background-size: rem(100);
}