.sub_title{
  color:#fff;
  font-size:rem(100);
  background: #ff4400;
}
.bg2{
  width:rem(750);
  height:rem(750);
  background: url(~common/images/b.jpg) repeat;
  background-size:rem(300);
  border:2px solid #f40;
}